body {
    background-color:black;
    color:gray;
}

h1 {
    
font-family: 'Libre Barcode 39 Text', cursive;
font-size: 4em;
margin-bottom: 0px;
}

header, main, nav, footer {
    text-align: center;
    
}

nav a { /* link withing "nav" cointainer */
    padding: 15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none; /* removes underline */
    color: white;  /* by default, link are blue */
}

nav a:hover {
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s; /*transition effect*/
}
#me, #welcomeText {
    float: left;
}

#welcomeText {
    text-align: left;
    padding-left: 10px;
    padding-top: 50px;
    width:200px;
    font-size: 1.em;
    
}
footer{
    clear: left;
    font-size: .9em;
    color: red;
}


table {
    margin: 0px auto;
    
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    text-align: left;
    padding-left: 200px;
}

.hobby{
    color: yellow;
}